.navBarText {
  margin-left: 10px !important;
  font-size: 17px;
  margin-top: 13px;
  color:black;
}

.textMess{
    
    color: white;
    font-size: 25px;
    
}

.signed-in-user{
    color:#ffffff;
}

.chat-list {
  height: 74vh;
  background-color: white;
}
.message-list {
  height: 65vh;
  border-left: 2px solid #f4f4f4;
  border-right: 2px solid #f4f4f4;
  
}

.mezera{

    margin-top: 50px;
    
}

.user-list {
  height: 300px;
  overflow-y: scroll;
}
.message {
  margin-top: 10px;
}
.rce-mbox-text {
  padding: 3px;
}
.rce-mbox {
  background-color: antiquewhite !important;
}
.rce-mbox-right-notch {
  fill: aliceblue !important;
}
.rce-mbox-left-notch {
  fill: white !important;
}
.rce-mbox-right {
  background-color: #0066ff !important;
  color: white;
}
body {
    background-color: #cccccc;
}
.form-group{
  border: 2px solid #f4f4f4;
}